* {
    box-sizing: border-box;
    margin: 0;
    padding-bottom: 2%;
}
body {
    padding: auto 10%;
    text-align: center;
    background-color: bisque;
    font-family: Verdana, sans-serif;
    margin-top: 3%;
    color: rgb(92, 74, 51);
}
.main-container {
    background-color: burlywood;
    margin: auto 10%;
    padding: 2% 10%;
    border-radius: 5px;
}
input {
    padding: 1%;
    border-color: transparent;
    border-radius: 5px;
    outline: none;
}
input:first-of-type {
    margin-right: 3%;
}
button {
    padding: 1%;
    border-color: transparent;
    border-radius: 5px;
    background-color: rgb(92, 74, 51);
    outline: none;
}
input:hover, button:hover {
    box-shadow: 2px 2px 2px grey;
}
img {
    height: 45vh;
    width: 30vw;    
}
#search-btn {
    outline: none;
    color: cornsilk;
}
#carousel-div {
    width: 70%;
    margin: auto;
}